.navbar header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    width: 100%;
}
.navbar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logo p{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 12px;
    font-weight: 600;
    color: white;
    font-family: 'Poppins';
}
.links ul{
    list-style: none;
    display: flex;
}
.links ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 55px;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 35px 0;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.links ul li a:hover{
    color: #f17373;
    transition: 0.2s;
}
.partie2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.partie2 button{
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    color: #9b7f7f;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Poppins';
    border: none;
    position: relative;
    left: 10px;
    cursor: pointer;
}
